In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
931,tt0240900,14000000,6413915,Slackers,Jason Segel|Devon Sawa|Jason Schwartzman|Jaime...,Dewey Nicks,When all else fails... cheat.,"Dave, Sam and Jeff are about to graduate from ...",86,Comedy|Romance,Sony Pictures|Screen Gems,2/1/2002,5.7,2002
1164,tt0316465,32000000,52277485,Radio,Cuba Gooding Jr.|Ed Harris|Alfre Woodard|S. Ep...,Mike Tollin,His courage made them champions.,"Football coach Harold Jones befriends Radio, a...",109,Drama,Revolution Studios|Tollin/Robbins Productions,10/24/2003,7.1,2003
309,tt1233227,11000000,68233629,Saw VI,Tobin Bell|Costas Mandylor|Betsy Russell|Mark ...,Kevin Greutert,The Game Has Come Full Circle,"Special Agent Strahm is dead, and Detective Ho...",90,Horror|Mystery,Lionsgate|Twisted Pictures,10/22/2009,5.9,2009
1004,tt1397514,79000000,355692760,Journey 2: The Mysterious Island,Dwayne Johnson|Josh Hutcherson|Kristin Davis|V...,Brad Peyton,Believe the Impossible. Discover the Incredible.,Sean Anderson partners with his mom's boyfrien...,94,Adventure|Action|Science Fiction,New Line Cinema|Contrafilm|Walden Media,1/19/2012,5.8,2012
1251,tt1229340,50000000,173649015,Anchorman 2: The Legend Continues,Will Ferrell|Steve Carell|Paul Rudd|Christina ...,Adam McKay,It's kind of a big deal,"With the 70s behind him, San Diego's top rated...",119,Comedy,Paramount Pictures|Gary Sanchez Productions|Ap...,12/18/2013,6.0,2013

In [3]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# добавим колонку прибыль|profit = profit = revenue - budget
data['profit'] = data.revenue - data.budget

#колонка release_date в датафрейме имеет строковый формат, для удобства преобразуем в datetime
data['release_dt'] = pd.to_datetime(data.release_date)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [8]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

'Pirates of the Caribbean: On Stranger Tides'

In [9]:
# используем отбор из датафрейма по условию бюджет равен максимальному
answers['1'] = data[data.budget == data.budget.max()].original_title.iloc[0]
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides'}

ВАРИАНТ 2

In [10]:
# или отсортируем все фильмы по бюджету по убыванию и выберем 1-й эл-т 
answers['1'] = data[['original_title','budget']].sort_values(by=['budget'], ascending = False).original_title.iloc[0]
display(answers['1'])

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [12]:
# отсортируем все фильмы по длительности по убыванию и выберем 1-й эл-т 
answers['2'] =data[['original_title','runtime']].sort_values(by=['runtime'], ascending = False).original_title.iloc[0]
display(answers['2'])

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
# отсортируем все фильмы по длительности по возрастанию и выберем 1-й эл-т 
answers['3'] = data[['original_title','runtime']].sort_values(by=['runtime']).original_title.iloc[0]
display(answers['3'])

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [14]:
# возьмем данную инф-ю из describe
answers['4'] = data.describe().runtime['mean']
display(answers['4'])

109.6585494970884

In [15]:
# или отберем поле длительность и применим к ней mean()
answers['4'] = data.runtime.mean()
display(answers['4'])

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [16]:
# отберем поле длительность и применим к ней median()
answers['5'] = data.runtime.median()
display(answers['5'])

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# отберем столбцы прибыль и название и отсортируем по прибыли по убыванию, возьмем 1-й эл-т
answers['6'] = data[['profit','original_title']].sort_values(ascending = False,by=['profit']).original_title.iloc[0]
display(answers['6'])

'Avatar'

# 7. Какой фильм самый убыточный?

In [18]:
# используем отбор из датафрейма по условию прибыль равна минимальной
answers['7'] = data[['profit','original_title']].sort_values(by=['profit']).original_title.iloc[0]
display(answers['7'])

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
# отберем из датасета фильмы по условию прибыль больше 0, с помощью len() получим кол-во
answers['8'] = len(data[data.profit>0])
display(answers['8'])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [20]:
# отберем в отдельный датасет все фильмы 2008 года выпуска
data9 = data[data.release_year == 2008]
# из полученного датафрейма отберем поля название и сборы, отсортируем по убыванию по сборам, возьмем 1-й эл-т
answers['9'] = data9[['original_title','revenue']].sort_values(ascending = False, by = ['revenue']).original_title.iloc[0]
display(answers['9'])

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г.(включительно)?

In [21]:
# в отдельный датафрейм отберем фильмы 2012-2014 г.в.
data10 = data[data.release_year.isin([2012,2013,2014])]
# из полученного датафрейма отберем поля название и прибыль, отсортируем по возрастанию по прибыли, возьмем 1-й эл-т
answers['10'] = data10[['original_title','profit']].sort_values(by = ['profit']).original_title.iloc[0]
display(answers['10'])

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [22]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
#в каждом фильме разделим поле жанр на серию из отдельных эл-тов по жанрам (split()), соберем все в один список и
#в нем, с помощью value_counts посчитаем кол-во каждого из жанров, index[0] будет содержать наиболее часто встречаемый жанр
answers['11'] = pd.Series(data.genres.str.split('|').sum()).value_counts().index[0]
display(answers['11'])

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [24]:
# в отдельный датафрейм отберем прибыльные фильмы
data12 = data[data.profit > 0]
#в каждом фильме разделим поле жанр на серию из отдельных эл-тов по жанрам (split()), соберем все в один список и
#в нем, с помощью value_counts посчитаем кол-во каждого из жанров, index[0] будет содержать наиболее часто встречаемый жанр
answers['12'] = pd.Series(data12.genres.str.split('|').sum()).value_counts().index[0]
display(answers['12'])

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [25]:
#группируем фильмы по режиссеру, применяем суммирование к полю сборы, сортируем по убыванию, берем 1-й эл-т
answers['13'] =data.groupby(['director']).revenue.sum().sort_values(ascending = False).index[0]
display(answers['13'])

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [26]:
# отбираем все фильмы жанра Action
data14 = data[data.genres.str.contains('Action')]
# split ом и sum ом делаем лист из режиссеров, преобразуем в серию и считаем в ней кол-во всех значений, наиболее частый будет 
# содержаться в index[0]
answers['14'] = pd.Series(data14.director.str.split('|').sum()).value_counts().index[0]
display(answers['14'])

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [27]:
# отбираем фильмы 2012 года
data15 = data[data.release_year == 2012]
# получаем список всех актеров (уникальный)
actors = set(data15.cast.str.split('|').sum())
dict = {}
# для каждого актера отбираем фильмы 2012 года, в которых он снимался и суммируем сборы, вносим в словарь dict
for each in actors:
    dict[each]= (data15[data15.cast.str.contains(each, na = False)].revenue.sum())
    
#преобразуем словарь в Series
ser = pd.Series(dict)
# сортируем серию по убыванию, берем 1-й эл-т
answers['15'] = ser.sort_values(ascending = False).index[0]
display(answers['15'])

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [28]:
# отбираем фильмы, у которых бюджет выше среднего
data16 = data[data.budget > data.budget.mean()]
# формируем список уникальных актеров
actors = set(data16.cast.str.split('|').sum())
dict = {}
# для каждого актера считаем кол-во фильмов (высокобюджетных), в которых он снялся, вносим в словарь
for each in actors:
    dict[each] = len(data16[data16.cast.str.contains(each,  na = False)])

# преобразуем словарь в Series   
ser = pd.Series(dict)
# сортируем серию по убыванию, берем 1-й эл-т
answers['16'] = ser.sort_values(ascending = False).index[0]
display(answers['16'])

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [30]:
# отберем все фильмы, где снимался Nicolas Cage
data17 = data[data.cast.str.contains('Nicolas Cage')]
# среди этих фильмов разобъем поля жанр и просуммируем их в лист, посчитаем кол-во вхождений каждого из значений, index[0] будет
# содержать наиболее часто встречаемый жанр
answers['17'] = pd.Series(data17.genres.str.split('|').sum()).value_counts().index[0]
display(answers['17'])

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [31]:
# отбираем все фильмы от Paramount..., сортируем по прибыли по возрастанию, берем 1-й эл-т
answers['18'] = \
data[data.production_companies.str.contains('Paramount Pictures', na = False)]\
.sort_values(by = 'profit').head(1).original_title.values[0]
display(answers['18'])

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [32]:
# группируем по году выпуска, сортируем по кассовым сборам по убыванию, берем 1-й эл-т
answers['19'] =\
data.groupby(['release_year']).revenue.sum()\
.sort_values(ascending = False).index[0]
display(answers['19'])

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [36]:
# отбираем все фильмы Warner, группируем по году выпуска, применяем sum() к полю прибыль, сортируем по убыванию, берем 1-й эл-т
answers['20'] = \
data[data.production_companies.str.contains('Warner Bros')]\
.groupby(['release_year']).profit.sum()\
.sort_values(ascending = False).index[0]
display(answers['20'])

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [40]:
# в предобработке добавим поле release_dt и поместим в него datetime, далее получим месяц как число, далее применим подсчет
# значений и выберем самое частое значение
answers['21'] = data.release_dt.dt.month.value_counts().index[0]
display(answers['21'])

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [42]:
# с помощью len() посчитаем кол-во записей в датафрейме, который получится при отборе из исходного только фильмов, выпущенных
# летом. Фильмы, выпущенные летом получим с помощью поля release_dt, содержащего datetime
answers['22'] = len(data[(data.release_dt.dt.month.isin([6,7,8]))])
display(answers['22'])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [51]:
# получим все фильмы, выпущенные зимой с помощью поля release_dt, содержащего datetime, 
# сгруппируем по режиссеру, применив подсчет кол-ва к полю название
# отсортируем полученную серию, возьмем 1-й эл-т
answers['23'] = \
data[(data.release_dt.dt.month.isin([1,2,12]))]\
.groupby(['director']).original_title.count()\
.sort_values(ascending = False).index[0]
display(answers['23'])

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [56]:
#сделаем копию датафрейма
data24 = data.copy()
# в поле название поместим длину названия
data24['original_title'] = data24['original_title'].str.len()
# преобразуем поле студии в list, с перечислением всех студий 
data24['production_companies'] = data24['production_companies'].str.split('|')
# командой explode разобьем каждую запись о фильме с несколькими студиями на несколько записей об одном фильме, в каждой 
# записи указана отдельная студия
data24 = data24.explode('production_companies')
# сгрупируем по студии, в каждой группе посчитаем среднюю длину названия фильма, отсортируем по ней и возьмем 1-й эл-т
answers['24'] = data24.groupby('production_companies').original_title.mean().sort_values(ascending = False).index[0]
display(answers['24'])

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [58]:
#сделаем копию датафрейма
data25 = data.copy()
# в поле описание поместим длину описания = кол-во разделителей + 1
data25['overview'] = data25['overview'].str.count('|') + 1
# преобразуем поле студии в list, с перечислением всех студий
data25['production_companies'] = data25['production_companies'].str.split('|')
# командой explode разобьем каждую запись о фильме с несколькими студиями на несколько записей об одном фильме, в каждой 
# записи указана отдельная студия
data25 = data25.explode('production_companies')
# сгрупируем по студии, в каждой группе посчитаем среднюю длину описания фильма, отсортируем по ней и возьмем 1-й эл-т
answers['25'] = data25.groupby('production_companies').overview.mean().sort_values(ascending = False).index[0]
display(answers['25'])

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [92]:
# найдем значение vote_average, соответствующее 99 перцентилю 
bound = np.percentile(data.vote_average, 99)
# отберем из датафрейма фильмы с vote_average большей, нежели vote_average 99 перцентиля
answers['26'] = data[data.vote_average >= bound].sort_values(by='vote_average', ascending=False).original_title.values
display(answers['26'])

array(['The Dark Knight', 'Inside Out', 'Room', 'Interstellar',
       'The Imitation Game', 'Inception', '12 Years a Slave',
       'The Wolf of Wall Street',
       'The Lord of the Rings: The Return of the King', 'The Pianist',
       'Memento', 'Guardians of the Galaxy', 'The Grand Budapest Hotel',
       'Gone Girl', 'Mr. Nobody', 'There Will Be Blood',
       'Eternal Sunshine of the Spotless Mind', 'The Prestige',
       'Dallas Buyers Club', 'Prisoners', 'Big Hero 6', 'Her', '3 Idiots',
       'The Lord of the Rings: The Two Towers',
       'The Theory of Everything', 'Spotlight', 'The Fault in Our Stars',
       'The Lord of the Rings: The Fellowship of the Ring'], dtype=object)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [93]:
# не обойтись без комбинаций
from itertools import combinations
# словарь для подсчета кол-ва раз, когда каждая из пар снялась в одном фильме
dict = {}
# делаем копию датафрейма
data27 = data.copy()
# для всех возможных комбинаций актеров к каждом фильме
for i in range(len(data27)):
    for each_comb in combinations(data27.iloc[i].cast.split('|'),2):
        # если пара актеров уже есть в словаре - увеличиваем счетчик
        if each_comb in dict:  
            dict[each_comb] += 1
        # иначе вносим в словарь
        else:
            dict[each_comb] = 1

# преобразуем словарь в серию            
ser = pd.Series(dict)
# сортируем серию по счетчику по убыванию, берем 1-й эл-т
answers['27'] = ser.sort_values(ascending = False).index[0]
display(answers['27'])

('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [94]:
# в конце можно посмотреть свои ответы к каждому вопросу
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': array(['The Dark Knight', 'Inside Out', 'Room', 'Interstellar',
        'The Imitation Game', 'Inception', '12 Years a Slave',
        'The Wolf of Wall Street',
        'The Lord of the Rings: The Return of the King', 'The Pianist',
        'Memento', 'Guardians of the Galaxy', 'The Grand Budapest Hotel',
        'Gone Girl', 'Mr. Nobody', 'There Will Be Blood',
        'Eternal Sunshine of the Spotless Mind', 'The Prestige',
        'Dallas Buyers Club', 'Prisoners', 'Big Hero 6', 'Her', '3 Idiots',
        'The Lord of the Rings: The Two Towers',
        'The Theory of Everything', 'Spotlight', 'The Fault in Our Stars',
        'The Lord of the Rings: The Fellowship of the Ring'], dtype=object),
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [95]:
# и убедиться что ни чего не пропустил)
len(answers)

27