#### 4.1
###### База данных содержит список аэропортов практически всех крупных городов России. В большинстве городов есть только один аэропорт. Исключение составляет:

In [ ]:
SELECT A.city,
       count(airport_code) airports_count
FROM dst_project.airports A
GROUP BY A.city
HAVING count(airport_code)>1

##### Ответ: Moscow, Ulyanovsk

#### 4.2.1
###### Таблица рейсов содержит всю информацию о прошлых, текущих и запланированных рейсах. Сколько всего статусов для рейсов определено в таблице?

In [ ]:
select count(distinct F.status)
from 
    dst_project.flights F

##### Ответ: 6

#### 4.2.2
###### Какое количество самолетов находятся в воздухе на момент среза в базе (статус рейса «самолёт уже вылетел и находится в воздухе»)

In [ ]:
select count(F.flight_id)
from 
    dst_project.flights F
where F.status = 'Departed'

##### Ответ: 58

#### 4.2.3
###### Места определяют схему салона каждой модели. Сколько мест имеет самолет модели  (Boeing 777-300)?

In [ ]:
select count(distinct(seat_no))
from 
    dst_project.seats S
where S.aircraft_code = '773'

##### Ответ: 402

#### 4.2.4
###### Сколько состоявшихся (фактических) рейсов было совершено между 1 апреля 2017 года и 1 сентября 2017 года?

In [ ]:
SELECT count(*)
FROM dst_project.flights f
WHERE f.actual_arrival BETWEEN '2017.04.01' AND '2017.09.01'
  AND f.status = 'Arrived'

##### Ответ: 74227

#### 4.3.1
###### ССколько всего рейсов было отменено по данным базы?

In [ ]:
SELECT count(*)
FROM dst_project.flights F
WHERE F.status = 'Cancelled'

##### Ответ: 437

#### 4.3.2
###### Сколько самолетов моделей типа Boeing, Sukhoi Superjet, Airbus находится в базе авиаперевозок?

In [ ]:
select 'AirBus', count(*)
from 
    dst_project.aircrafts AC
where
    AC.model like 'Airbus%'
union all
    select 'Boeing', count(*)
from 
    dst_project.aircrafts AC
where
    AC.model like 'Boeing%'
Union all
    select 'Sukhoi Superjet', count(*)
from 
    dst_project.aircrafts AC
where
    AC.model like 'Sukhoi Superjet%'

##### Ответ: Boeing:3; Sukhoi Superjet:1; Airbus: 3

#### 4.3.3
###### В какой части (частях) света находится больше аэропортов?

In [ ]:
SELECT AP.timezone,
       count(*)
FROM dst_project.airports AP
GROUP BY AP.timezone
ORDER BY 2 DESC
limit 5

##### Ответ: Europe/Asia

#### 4.3.4
###### У какого рейса была самая большая задержка прибытия за все время сбора данных? Введите id рейса (flight_id).

In [ ]:
select f.flight_id, (f.actual_arrival-f.scheduled_arrival) delay 
from 
    dst_project.flights f
where f.actual_arrival is not null
order by delay desc
limit 1

##### Ответ: 157571

#### 4.4.1.
###### Когда был запланирован самый первый вылет, сохраненный в базе данных?

In [ ]:
SELECT f.scheduled_departure d
FROM dst_project.flights f
ORDER BY d
LIMIT 1

##### Ответ: август 14, 2016, 11:45 вечера

#### 4.4.2.
###### Сколько минут составляет запланированное время полета в самом длительном рейсе?

In [ ]:
SELECT f.flight_id,
       extract('epoch'
               FROM (f.scheduled_arrival-f.scheduled_departure)::INTERVAL)/60 duration
FROM dst_project.flights f
ORDER BY duration DESC
LIMIT 1

##### Ответ: 530

#### 4.4.3.
###### Между какими аэропортами пролегает самый длительный по времени запланированный рейс?

In [ ]:
SELECT f.flight_id,
       extract('epoch'
               FROM (f.scheduled_arrival-f.scheduled_departure)::INTERVAL)/60 duration,
       departure_airport,
       arrival_airport
FROM dst_project.flights f
ORDER BY duration DESC
LIMIT 1

##### Ответ: DME - UUS

#### 4.4.4.
###### Сколько составляет средняя дальность полета среди всех самолетов в минутах? Секунды округляются в меньшую сторону (отбрасываются до минут).

In [ ]:
SELECT DISTINCT avg(extract('epoch'
                            FROM (f.actual_arrival-f.actual_departure)::INTERVAL)/60)::int duration
FROM dst_project.flights f

##### Ответ: 128

#### 4.5.1.
###### Мест какого класса у SU9 больше всего?

In [ ]:
SELECT S.fare_conditions,
       count(*)
FROM dst_project.aircrafts AC
JOIN dst_project.seats S ON S.aircraft_code = AC.aircraft_code
WHERE AC.model like 'Sukhoi%'
GROUP BY s.fare_conditions
ORDER BY 2 DESC
LIMIT 1

##### Ответ: Economy

#### 4.5.2.
###### Какую самую минимальную стоимость составило бронирование за всю историю?

In [ ]:
SELECT B.total_amount
FROM dst_project.bookings B
ORDER BY 1
LIMIT 1

##### Ответ: 3400

#### 4.5.3.
###### Какой номер места был у пассажира с id = 4313 788533?

In [ ]:
SELECT BP.seat_no
FROM dst_project.tickets T
JOIN dst_project.boarding_passes BP ON T.ticket_no = BP.ticket_no
WHERE T.passenger_id = '4313 788533'

##### Ответ: 2A

#### 5.1.1.
###### Анапа — курортный город на юге России. Сколько рейсов прибыло в Анапу за 2017 год?

In [ ]:
SELECT count(*)
FROM dst_project.airports AP
JOIN dst_project.flights F ON F.arrival_airport = AP.airport_code
WHERE AP.city = 'Anapa'
  AND date_part('year', F.actual_arrival) = '2017'

##### Ответ: 486

#### 5.1.2.
###### Сколько рейсов из Анапы вылетело зимой 2017 года?

In [ ]:
SELECT count(*)
FROM dst_project.airports AP
JOIN dst_project.flights F ON F.departure_airport = AP.airport_code
WHERE AP.city = 'Anapa'
  AND date_part('year', F.actual_departure) = '2017'
  AND date_part('month', F.actual_departure) in (1,2,12)

##### Ответ: 127

#### 5.1.3.
###### Посчитайте количество отмененных рейсов из Анапы за все время.

In [ ]:
SELECT count(*)
FROM dst_project.airports AP
JOIN dst_project.flights F ON F.departure_airport = AP.airport_code
WHERE AP.city = 'Anapa'
  AND F.Status = 'Cancelled'

##### Ответ: 1

#### 5.1.4.
###### Сколько рейсов из Анапы не летают в Москву?

In [ ]:
SELECT count(DISTINCT F.flight_id)
FROM dst_project.flights F
JOIN dst_project.airports APD ON F.departure_airport = APD.airport_code
JOIN dst_project.airports APA ON F.arrival_airport = APA.airport_code
WHERE APD.city = 'Anapa'
  AND APA.city <> 'Moscow';

##### Ответ: 453

#### 5.1.5.
###### Какая модель самолета летящего на рейсах из Анапы имеет больше всего мест?

In [ ]:
WITH AC_models AS
  (SELECT AC.aircraft_code,
          AC.model
   FROM dst_project.flights F
   JOIN dst_project.airports APD ON F.departure_airport = APD.airport_code
   JOIN dst_project.aircrafts AC ON F.aircraft_code = AC.aircraft_code
   WHERE APD.city = 'Anapa'
   GROUP BY AC.aircraft_code)
SELECT ACM.aircraft_code,
       ACM.model,
       count(seat_no) seats_count
FROM AC_models ACM
JOIN dst_project.Seats S ON ACM.aircraft_code = S.aircraft_code
GROUP BY ACM.aircraft_code,
         ACM.model
ORDER BY seats_count DESC
LIMIT 1

##### Ответ: Boeing 737-300